<!DOCTYPE html>
<html ng-app="farmbuild.hackday.blank">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FarmBuild Hack Day 2016!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="FarmCtrl">
<content>
    <modal ng-if="noResult" ng-include="'modal-validation-error.tpl.html'"></modal>
    <h3>
        FarmBuild Hack Day 2016!
        <small>(angularJS)</small>
    </h3>
    <hr/>

    <empty-message ng-if="!noResult"><i class="fa fa-warning icon"></i>
        <h3>Use this blank app to start your user story!</h3>
        AngularJS, Bootstrap and all FarmBuild component are already included here.
    </empty-message>

    <summary ng-if="farmData.name">
    </summary>
</content>

<script src="libs/ol/ol.js" type="text/javascript"></script>
<script src="libs/proj4/proj4.js"></script>

<script src="libs/farmbuild-core.js"></script>
<script src="libs/farmbuild-farmdata.js"></script>
<script src="libs/farmbuild-webmapping.js"></script>
<script src="libs/farmbuild-soilsampleimporter.js"></script>
<script src="libs/farmbuild-nutrientcalculator.js"></script>
<script src="index.js"></script>

<script type="text/ng-template" id="modal-validation-error.tpl.html" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Validation failed</h3>
            </div>
            <div class="modal-body">
                There is a problem with input values.
                Please see the console for the error log or
                read <a
                    href="https://github.com/FarmBuild/farmbuild-dairy-nutrient-calculator">API documentation</a> for
                more information
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="$parent.$parent.noResult=undefined">Ok</button>
            </div>
        </div>
    </div>
</script>

</body>
</html>
